<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Manhunt Toolkit IDE</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">

    <script type="text/javascript">
        window.routes = {
            component: {
                levels : '{{ path('component_levels_dropdown') }}',
                level : {
                    levelScriptListing : '{{ path('component_levelscript_listing', { level : '--level--' }) }}',
                    levelScript : '{{ path('component_levelscript_get', { level : '--level--', script : '--script--' }) }}',
                    levelScriptSave : '{{ path('component_levelscript_save', { level : '--level--', script : '--script--' }) }}'
                }
            }
        };
    </script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {#<li class="nav-item active">#}
                {#<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="#">Link</a>#}
            {#</li>#}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Scripts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Another action</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

    <div id="main">

    <div id="left-panel" class="panel-container">
        <div class="panel-group">


            <div class="content">
                <div class="panel tree-holder component-panel">
                    <div class="content">

                        {#<div class="search">#}
                            {#<input type="search" required="" placeholder="Search components">#}
                            {#<i class="material-icons search-icon">search</i>#}
                        {#</div>#}

                        <div class="list">
                            {# level tree #}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="center-panel" class="panel-container">
        <div id="toolbars">

            <div id="tab-bar" class="bar">
                <div class="tab-scroll">
                    <div class="tab-holder">
                        {#<div class="tab active unsaved">#}
                            {#<span class="title" title="">levelscript</span>#}
                            {#<span class="close"></span>#}
                        {#</div>#}
                        {#<div class="tab unsaved">#}
                            {#<span class="title" title="">levelscript</span>#}
                            {#<span class="close"></span>#}
                        {#</div>#}
                    </div>
                </div>
            </div>

            <div id="tool-bar" class="bar">
                {#<!--<span class="button-zoom zoom-out active" data-id="zoom-out" title="Zoom Out"><i class="material-icons">zoom_out</i></span>-->#}

                {#<!--<span class="rotate-canvas active" data-id="zoom-out" title="Flip Canvas"><i class="material-icons">screen_rotation</i></span>-->#}

                {#<span class="canvas-settings active" data-id="canvas-settings" title="View Options"><i#}
                            {#class="material-icons">layers</i></span>#}

                {#<!--<span class="info-container">-->#}
                {#<!--<span class="info device-selection">768px × 683px @ 100%</span>-->#}
                {#<!--</span>-->#}

                {#<!--<div class="page-selection">index.html</div>-->#}


            </div>

        </div>

        <section id="canvas" class="">



        </section>


    </div>

    <div id="right-panel" class="panel-container">

        <div class="panel-group">

            <div class="tabs">
                <div class="tab-squeeze">
                    <div class="tab-holder">
                        {#<div title="Look &amp; Feel" class="tab look-and-feel active">#}
                            {#<div><i class="material-icons">color_lens</i><span>Inspector</span></div>#}
                        {#</div>#}
                        {#<div title="Options" class="tab settings">#}
                            {#<div><i class="material-icons">settings</i><span>Options</span></div>#}
                        {#</div>#}
                        {#<div title="Animation" class="tab animation">#}
                            {#<div><i class="material-icons">stars</i><span>Animation</span></div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="panel options-panel">
                    <div class="content">
                        <div class="list">
                            <div class="message" style="display: block;">No components selected</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    window.manhuntFunctions = {{ manhuntFunctionNames|raw }};
    window.manhuntConstants = {{ manhuntConstants|raw }};
    window.manhuntEvents = {{ manhuntEvents|raw }};
</script>

<script src="{{ asset('build/app.js') }}"></script>

</body>
</html>